:root {
  --light: rgb(242, 242, 242);
  --dark: rgb(54, 54, 54);
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.2em;
  line-height: 25px;
  background-color: black;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: var(--dark);
}
h1,
p {
  color: #fcd4cb;
}
.jumbotron {
  text-align: center;
  background-color: transparent;
  color: var(--dark);
  border-radius: 0;
  border-bottom: 7px solid #fcd4cb;
}

#currentDay {
  color: #a4dfff;
}

.square-row {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  color: var(--light);
  margin-top: 25px;
}
#past {
  color: #777676;
}
#now {
  color: #fcd4cb;
}
#future {
  color: #a4dfff;
}
.description {
  white-space: pre-wrap;
  max-width: 100%;
  width: 100%;
  /* max-height: 100%; */
  /* height: 80px; */
  letter-spacing: 0.12em;
  color: var(--dark);
  padding: 0;
  /* line-height: 25px; */
}

/* .row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;
} */
/* .thead.fs-3.text-uppercase {
  color: #5bdbdd;
  font-weight: bolder;
} */

th#time.hour {
  color: #fadbd8;
  font-weight: 600;
  padding: 25px;
  letter-spacing: 0.15em;
}

.past {
  background-color: #777676;
  color: var(--dark);
}

.present {
  background-color: #fcd4cb;
  color: var(--dark);
}

.future {
  background-color: #a4dfff;
  color: var(--dark);
}

.fa {
  color: #fcd4cb;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.fa:hover {
  color: #ffbbac;
  /* transition: all 0.3s ease-in-out; */
  transition: all 0.3s ease, background-position 1ms;
  cursor: pointer;
}

.container {
  justify-content: center;
  text-align: center;
  width: 100%;
}

.table th,
.table td {
  vertical-align: middle;
}
